*{
    box-sizing: border-box;
}
bod{
    background: linear-gradient(-90deg,rgba(255,0,0,0),skyblue,rgba(255,0,0,0));
}
.navbar{
    display: block;
    background: linear-gradient(180deg,black,rgba(255,0,0,0));
}
.navbar a{
    color: red;
    text-decoration: none;
}
.navbarlist{
    display: none;
}
.navbar:hover .navbarlist {
    display: inline-block;
}
h1{
    color: white;
    font-size: 60px;
    font-stretch: semi-expanded;
}
#A_s{
    font-family: cursive;
    color: red;
}
h1:first-letter{
    color: red;
}
p{
    text-align: left;
    font-style: italic;
}
p:first-letter{
    color: red;
    font-family: cursive;
    font-size: 30px;
}
button{
    color: limegreen;
}
h2{
    color: white;
}
:placeholder-shown{
    opacity: 0.7;
}
form{
    text-align: center;
}
#homeicon,#Menuicon{
    color: black;
    font-size: 3em;
}
#Menuicon{
    width: 100%;
}
#contacts{
    text-align: left;
    background-color: white;
    width: 100%;
    display: inline-block;
}
#contacts #phone{
    color: black;
    border-radius: 100%;
    font-size: 30px;
}
#contacts #email{
    color: red;
    font-size: 30px;
    border-radius: 100%;
}
#contacts #facebook{
    color: blue;
    font-size: 30px;
    border-radius: 100%;
}

/*Home Page*/
.bg-img{    /*bg*/
    top: 0px;
    background-image: url(Ocean.avif) ;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
}
#TA{    /*text area*/
    margin-top: 200px;
}
input{
    width: 50%;
    height: 40px;
    border-radius:100px;
}
button{
    width: 65%;
    height: 45px;
    border-color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
a{

    color: white;
}
#contacts{
    text-align:  center ;
}
#contacts a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}
#contacts i{
    color: white;
    font-size: 1em;
}
/*Home*/


/*About Page*/
.Ag-img{    /*bg*/
    background-image:url(Snow-mountain.avif);
    min-height: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;  
    display: inline-block;
}
.Pics img{
    width: 90%;
    max-height: 400px;
}
#places{
    font-family: cursive;
    color: royalblue;
}
#reviews{
    font-family: cursive;
}
.review {
    text-align: left;
    color: skyblue;
} 
.review p:first-letter{
    color: skyblue;
    font-size: 25px;
    font-style: italic;
}
.review img{
    border: 1px solid white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.review p{
    font-family: monospace;
    font-style: normal;
    color: skyblue !important;
} .paneahpics img{
    width: 100px;
    height: 100px;
    border-radius: 0% !important;
}
.aboutus{
    font-family: times;
}
/*About*/


/*My Page page*/
.mypage{
    background-image: url(Ocean.avif);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
iframe{
    width: 80%;
    height: 444px;
    border: 7px solid white;
}
footer a{
    border-radius: 10px;
    border: 1px solid white;
    float:left ;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
    width: 33.33%;
    background-color: red;
    height: 35px;
    padding-top: 6.5px;
}
#settings{
    background: linear-gradient(180deg,black,rgba(255,0,0,0));
    padding-right: 5px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 6.5px;
    text-decoration: none;
    display: block;
    text-align: right;
    height: 35px;
}
#booking{
    color: royalblue;
    box-shadow: 2px 2px 9px grey;
}
p{
    color: white;
}
/*My page*/